# Repo-specific GitIgnore ----------------------------------------------------------------------------------------------
# 画像やテキストファイルは個人管理で適宜ローカルに置いたり生成したりするものなのでgit管理しない
*.jpg
*.jpeg
*.png
*.bmp
*.tif
*.tiff
*.heic
*.JPG
*.JPEG
*.PNG
*.BMP
*.TIF
*.TIFF
*.HEIC
*.mp4
*.mov
*.MOV
*.avi
*.data
*.json
*.cfg

*.txt














